body{
    background-color: #f1f7ff;
}
#content form{
    margin-top: calc(50vh, 241px);
}
#content form button{
    width: 100%;
}
#menosemais{
    display: inline;
}
#ehmenos{
    max-width: 2em;
    max-height: 2em;
}
#ehmais{
    max-width: 2em;
    max-height: 2em;
}